body {
    background-color: black;
    padding: 0%;
    margin: 0%;
}


/* .container {
  color: white;
  border: 4px solid white;
  margin: 10px;
  display: grid;
  grid-template-rows: 100px, 100px, 100px, 100px, 100px, 100px;
  grid-template-columns: 100px, 100px, 100px, 100px, 100px, 100px;
}

#item_1, 
#item_2,
#item_3,
#item_4{
  border: 2px solid rgb(255,146,146);
  background-color: rgba(255,100,100,0.671);
  text-align: center;
  // margin: 4px;
}

#item_2 {
  grid-area: 1 / 4 / 1 / 6;
}

#item_4 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}
*/

#item_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
    flex: 3;
}

#item_4 {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 5;
}

#item_3 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 4;
    flex: 3;
}

#item_5 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 5;
}