* {
    /* background-color: black; */
    margin: 0px;
    font-size: 1rem;
    font-family: Arial;
}


/* NAV STYLE BEGINS */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border-bottom: 1px solid gray; */
    position: static;
    z-index: 1000;
}

.nav h2 {
    font-size: 1.2rem;
}

.navLinks {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.navLinks li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#shopCart {
    /* background-color: black; */
    height: 1.8rem;
    width: 1.8rem;
    padding: 3px;
    border-radius: 10px;
}


/* NAVIGATION STYLE ENDS  */


/* MAIN PAGE STYLING STARTS HERE  */
.hero_cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 0.8rem;
}
.hero_cta p {
    font-size: 0.6rem;
    font-weight: bolder;
    letter-spacing: 2px;
}
.hero_cta h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 2.5rem;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icons/min3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
}
/* 
@media (max-width: 1366px) {
    .hero {
        background-image: url("../icons/res1.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        border-radius: 10px;
    }
} */

.display_items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 40px 20px;
    flex-wrap: nowrap;
    position: absolute;
    top: 760px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.item_row1,
.item_row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}
.item_row1 img, 
.item_row2 img {
    width: 184px;
    height: 276px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 6px;
}
/* MAIN PAGE STYLING ENDS HERE  */

/* EXPLORE PRODUCTS SECTION STYLING STARTS HERE  */

.explore {
    /* position: relative; */
    margin-top: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}   
.product_image {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.product_image img{
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* EXPLORE PRODUCTS SECTION STYLING ENDS HERE  */