* {
    /* background-color: black; */
    margin: 0px;
    font-size: 1rem;
    font-family: Arial;
}


/* NAV STYLE BEGINS */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border-bottom: 1px solid gray; */
    position: static;
    z-index: 1000;
}

.nav h2 {
    font-size: 1.44rem;
}

.navLinks {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.navLinks li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#shopCart {
    /* background-color: black; */
    height: 2rem;
    width: 2rem;
    padding: 3px;
    border-radius: 10px;
}


/* NAVIGATION STYLE ENDS  */


/* MAIN PAGE STYLING STARTS HERE  */

.hero {
    background-image: url("../icons/res1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 600px;
    background-position: center;
}

@media (max-width: 1366px) {
    .hero {
        height: 600px;
        width: 600px;
        background-image: url("../icons/res1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }
}


/* MAIN PAGE STYLING ENDS HERE  */