* {
    /* background-color: black; */
    margin: 0px;
    font-size: 1rem;
    font-family: Arial;
}


/* NAV STYLE BEGINS */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border-bottom: 1px solid gray; */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav h2 {
    font-size: 1.2rem;
}

.navLinks {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.navLinks li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#shopCart {
    /* background-color: black; */
    height: 1.8rem;
    width: 1.8rem;
    padding: 3px;
    border-radius: 10px;
}


/* NAVIGATION STYLE ENDS  */


/* MAIN PAGE STYLING STARTS HERE  */
.hero_cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 0.8rem;
}
.hero_cta p {
    font-size: 0.6rem;
    font-weight: bolder;
    letter-spacing: 2px;
}
.hero_cta h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 2.5rem;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icons/min3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
}
/* 
@media (max-width: 1366px) {
    .hero {
        background-image: url("../icons/res1.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        border-radius: 10px;
    }
} */

.display_items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 40px 20px;
    flex-wrap: nowrap;
    position: absolute;
    top: 760px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.item_row1,
.item_row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}
.item_row1 img, 
.item_row2 img {
    width: 184px;
    height: 276px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 6px;
}
/* MAIN PAGE STYLING ENDS HERE  */

/* EXPLORE PRODUCTS SECTION STYLING STARTS HERE  */

.explore {
    /* position: relative; */
    margin-top: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 100px;
}   
.product_image {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.product_image img{
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
}
#exp_cta {
    padding: 10px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 3px solid rgba(245, 245, 245, 0.299);
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
}  
/* EXPLORE PRODUCTS SECTION STYLING ENDS HERE  */

/* TRACK SECTION STYLING STARTS HERE */
.track {
    /* padding: 60px 40px;
    background: linear-gradient(135deg, #f5f5f5 0%, #e8e8e8 100%);
    margin: 40px 0;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-height: 300px; */
    background-color: #463BF1;
    padding: 100px 0px;
}

.track_items {
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#container_image1 {
    width: 292px;
    height: 327px;
    aspect-ratio: 0.893/1;
    position: relative;
    border-radius: 7px;
}

#container_image2 {
    width: 170px;
    height: 170px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 442px;
    top: 1765px;
    transform: rotate(-10deg);
    border-radius: 7px;
}

.container_text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 327px;
    justify-content: center;
    align-items: center;
    color: white;
}
.text_contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center;
    align-items: center; */
}
.text_contents h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}
.text_contents p {
    font-size: 0.8rem;
    line-height: 16px;
}
.track_cta {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
#cta_TrackText {
    font-size: 0.8rem;
    font-weight: bold;
}
#arrowLogo {
    width: 1rem;
    height: 1rem;
    filter: invert(100%);
    /* filter: drop-shadow(1px 0 0 white)
          drop-shadow(-1px 0 0 white)
          drop-shadow(0 1px 0 white)
          drop-shadow(0 -1px 0 white); */
}
/* TRACK SECTION STYLING ENDS HERE */

/* TESTIMONY SECTION STYLING STARTS HERE */
.footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.blogs {
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.other_links p {
    font-size: 0.8rem;
}
#copyright {
    font-size: 0.8rem;
}
.copy-socials {
    display: flex;
    flex-direction: row;
    gap: 350px;
    justify-content: center;
    align-items: center;
    border-top: 0.4px solid;
    padding: 20px 0px;
}

.socials img {
    width: 20px;
    height: 20px;
}
/* TESTIMONY SECTION STYLING ENDS HERE */