    * {
        margin: 0px;
        font-family: Helvetica;
    }
    
    .nav_bar {
        padding: 20px;
        display: flex;
        justify-content: center;
        /* gap: 30px; */
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #navs {
        display: flex;
        align-items: center;
    }
    
    .nav_lists {
        display: flex;
        gap: 20px;
    }
    
    .nav_lists li {
        text-decoration: none;
        list-style: none;
        cursor: pointer;
    }
    
    #wordmark {
        font-family: Arial;
        font-weight: bold;
        font-size: x-large;
        text-decoration: none;
        color: black
    }
    
    #nav_cta button {
        border: none;
        border-radius: 8px;
        color: white;
        background-color: #463BF1;
        padding: 15px;
        cursor: pointer;
    }
    /* NAV/HEADER STYLES DONE */
    
    .main {
        max-width: 100%;
        /* height: 200px; */
        background-image: linear-gradient(-30deg, rgb(125, 0, 153), rgb(75, 0, 82));
        color: white;
        padding: 2.5rem;
    }
    
    .hero_message h1 {
        font-size: 3rem;
    }
    
    #main_btn button {
        border: none;
        border-radius: 8px;
        color: white;
        background-color: #463BF1;
        padding: 15px;
    }
    /* SERVICES STYLES BEGINS*/
    
    .ok_stats {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 5px;
    }
    
    .statis {
        display: flex;
        align-items: center;
        margin: 10px;
    }
    
    #highlight {
        font-weight: bold;
        /* font-family: Arial; */
        font-size: 1.7rem;
        padding: 10px;
    }
    
    #text {
        width: 130px;
        /* font-weight: bold; */
        font-size: 0.8rem;
    }
    /* SERVICES STYLES BEGINS HERE */
    
    .start_services,
    .why_caps {
        text-align: center;
        padding: 50px 0px;
    }
    
    .services {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    #image_1,
    #image_2 {
        height: 220px;
        width: 220px;
        border-radius: 10px;
        /* border: 1.5px solid gray; */
    }
    
    .serve1,
    .serve2,
    .serve3 {
        padding: 2.3rem;
    }
    
    #img_text {
        height: 50px;
        max-width: 220px;
        color: black;
        background-color: rgb(248, 217, 254);
        position: relative;
        bottom: 50px;
        /* padding: 10px 0px; */
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 0px 10px 10px;
    }
    /* services */
    
    .why_section {
        background-color: lightcyan;
    }
    /* WHY CONTENTS */
    
    .why_contents {
        background-color: lightcyan;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .why_contents video {
        border-radius: 5px;
    }
    
    .why_lists {
        display: flex;
    }
    
    #num_1,
    #num_2,
    #num_3 {
        padding: 10px 15px;
        background-color: rgb(248, 217, 254);
        border-radius: 50px;
    }
    
    .break_text {
        display: block;
    }
    /* NEW -> STYLES BEGINS */
    
    .news {
        display: flexbox;
        text-align: center;
        background-color: #463BF1;
        width: 100%;
        max-height: 100px;
        color: white;
        padding: 20px;
        font-size: 0.8rem;
    }
    
    #new_caps {
        padding: 4px 8px;
        color: #463BF1;
        font-weight: bold;
        background-color: white;
        border-radius: 12px;
    }
    
    #short_cta a {
        text-decoration: underline;
        color: white;
    }
    
    footer .subscribe {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .sub_button {
        background
    }
    
    .blogs {
        display: flex;
        justify-content: space-around;
    }